$paka-red: #DA2C38;
$btn-paka-red-border: darken($paka-red, 5%);

$paka-white: #ffffff;

$paka-yellow: #F59F06;
$btn-paka-yellow-border: darken($paka-yellow, 5%);

$paka-green: #21a179;
$btn-paka-green-border: darken($paka-green, 5%);

$paka-blue: #073B3A;
$btn-paka-blue-border: darken($paka-blue, 5%);

$navbarHighlight    : #254441;
$colDefault     : $paka-white;

