
.list-group-item {
  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    color: $paka-white;
    background-color: $paka-blue;
    border-color: $btn-paka-blue-border;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      color: $paka-white;
    }
  }
}

.input-color{
  padding: 0;
  border: 0;
  box-shadow: none;
}

.input-group-btn>.btn-default{
  height: 46px;
}

.table-options{
  width: 80px;
}
