$bgColor : #21A179;
$textColor: #ffffff;
.jumbotron{
	background-color: $bgColor;
	color: $textColor;
	margin-bottom: 0;
	position: absolute;
	width: 100%;
	height: 100%;

	.logo{
		max-width: 400px;
		margin-bottom: 10px;
	}

	p{
		margin-bottom: 50px;
	}
}
.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0;	
}