<nav class="navbar navbar-static-top navbar-default" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.dashboard">
        <img class="logo" src="/assets/images/paka_white.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="app.dashboard">Dashboard</a></li>
        <li ng-class="{ active: isActive('/expenses')}"><a ui-sref="app.expenses.list">Expenses</a></li>
        <li class="dropdown" dropdown ng-class="{ active: isActive('/categories')}">
          <a href class="dropdown-toggle" role="button" dropdown-toggle aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="app.categories.list">List All</a></li>
            <li class="divider"></li>
            <li><a ui-sref="app.categories.create">New Category</a></li>
          </ul>
        </li>
        <li class="dropdown" dropdown ng-class="{ active: isActive('/friends')}">
          <a href class="dropdown-toggle" role="button" dropdown-toggle aria-haspopup="true" aria-expanded="false">Friends <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="app.friends.list">List All</a></li>
            <li class="divider"></li>
            <li><a ui-sref="app.friends.create">Add friend</a></li>
          </ul>
        </li>
      </ul>

      <button type="button" class="btn btn-paka-yellow navbar-btn navbar-right" ng-click="logout()">Logout</button>
    </div>
  </div>
</nav>
