<form class="form-horizontal col-xs-7 col-xs-offset-2" role="form"  ng-submit="submit()">
  <h1 class="text-center" ng-bind="view.title"></h1>

  <div class="form-group">
    <label for="name" class="control-label sr-only">Name</label>
    <div class="col-xs-12">
      <input type="text" class="form-control input-lg" id="name" placeholder="Name" ng-model="friend.name">
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="control-label sr-only">Email</label>
    <div class="col-xs-12 ">
      <input type="email" class="form-control input-lg" id="email" placeholder="Email" ng-model="friend.email">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <button type="submit" class="btn btn-lg btn-block btn-paka-green-ghost" ng-bind="view.btnText"></button>
    </div>
  </div>
</form>