<div class="container-fluid">

  <!-- <div ng-include="'app/components/navbar/navbar.html'" class="row"></div> -->
  <div class="row  jumbotron text-center">
    <div class="row">
        <img src="/assets/images/paka_red.png" alt="Paka" class="logo">
    </div>
    <p class="lead text-center">Expense manager application</p>
    <div class="row">
      <div class="col-xs-12">

        <form class="form-horizontal col-xs-12 col-sm-6 col-sm-offset-3" role="form"  ng-submit="submit()">
      
          <h3>Reset password</h3>

          <div class="form-group">
            <label for="email" class="control-label sr-only">Email</label>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <input type="email" class="form-control input-lg" id="email" placeholder="Email" ng-model="user.email">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="control-label sr-only">Password</label>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <input type="password" class="form-control input-lg" id="password" placeholder="Password" ng-model="user.password">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="control-label sr-only">Confirm Password</label>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <input type="password" class="form-control input-lg" id="password" placeholder="Confirm Password" ng-model="user.password_confirmation">
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <button type="submit" class="btn btn-lg btn-block btn-paka-red">Reset</button>
            </div>
          </div>

          <div class="form-group" ng-hide="!forgotPassword">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
              <a type="button" class="btn btn-sm btn-block btn-paka-ghost" ui-sref="home">Back</a>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
