<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th class="table-options">Actions</th>
      <th class="table-options"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="category in categories track by category._id" >
      <td><span class="badge" style="background-color: {{ category.color }}; border-radius: 4px">&nbsp;&nbsp;</span> {{ category.name }}</td>
      <td>
        <a ui-sref="app.categories.edit({ id: category._id })" class="btn btn-sm btn-block btn-paka-green-ghost ">Edit</a>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-block btn-paka-red" ng-click="delete(category._id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>