<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th class="text-right">Value</th>
      <th class="table-options">State</th>
      <th class="table-options">Actions</th>
      <th class="table-options"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="expense in expenses track by expense.id" ng-init="countTotal(expense.value)">
      <td>{{ expense.description }} 
      </td>
      <td>{{ expense.update_at.date }}</td>
      <td class="text-right">
        {{ expense.value | number:2 }} €
      </td>
      <td>
        <span class="label" ng-class="expense.friends.length > 1 ? 'label-success' : 'label-warning'" ng-bind="expense.friends.length > 1 ? 'Shared' : 'Private'">Shared</span>
      </td>
      <td>
        <a ui-sref="app.expenses.edit({ id: expense.id })" class="btn btn-sm btn-block btn-paka-green-ghost ">Edit</a>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-block btn-paka-red" ng-click="delete(expense.id)">Delete</a>
      </td>
    </tr>
    <tr>
      <td colspan="2"><strong>Total:</strong></td>
      <td class="text-right">{{ total | number:2 }} €</td>
    </tr>
  </tbody>
</table>